#edit-hub span {
  cursor: pointer;
}

#edit-hub {
  position: fixed;
  left: 0;
  top: 150px;
  color: #fff;
}
#edit-hub .wrapped {
  position: relative;
  padding-right: 40px;
  width: 0;
}

#edit-hub span.edit-hub-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid #fff;
  border-width: 2px 2px 2px 0;
  border-radius: 0 8px 8px 0;
  width: 40px;
  height: 40px;
  background: #27438b url('../img/gears.png') no-repeat center center;
  text-indent: -999px;
}
#edit-hub.closed span.edit-hub-button {
  opacity: 0.6;
}
#edit-hub.closed span.edit-hub-button: hover {
  opacity: 1;
}

#edit-hub ul.entries {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#edit-hub li.entry {
  position: relative;
  margin: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 0;
  width: 194px;
  background: #27438b;
  font-weight: bold;
  font-size: 14px;
}
#edit-hub li.entry: nth-child(1) {
  border-top: 2px solid #fff;
}
#edit-hub li.entry p.label {
  padding: 6px 0 6px 6px;
  line-height: 20px;
}

#edit-hub li.entry span.subentries-opener {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  text-indent: -999px;
}
#edit-hub li.entry span.subentries-opener {
  background: url('../img/arrow-up.png') no-repeat center center;
}
#edit-hub li.entry.closed span.subentries-opener {
  background: url('../img/arrow-down.png') no-repeat center center;
}

.entry.closed .subentries {
  display: none;
}

#edit-hub li.entry li.subentry {
  position: relative;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
#edit-hub li.entry li.subentry p.label {
  margin: 0 40px 0 0;
  border-top: 1px solid #fff;
  padding: 5px 0;
}
#edit-hub li.entry li.subentry ul.buttons {
  position: absolute;
  right: 0;
  top: 4px;
  overflow: hidden;
}
#edit-hub li.entry li.subentry ul.buttons li {
  float: left;
  margin: 0 4px 0 0;
}
#edit-hub li.entry li.subentry ul.buttons li a {
  display: block;
  width: 16px;
  height: 21px;
  text-indent: -999px;
}
#edit-hub li.entry li.subentry ul.buttons li.button.order a {
  background: url('../img/eye.png') no-repeat center center;
}
#edit-hub li.entry li.subentry ul.buttons li.button.add a {
  background: url('../img/add.png') no-repeat center center;
}
#edit-hub li.entry li.subentry ul.buttons li.button.list a {
  background: url('../img/list.png') no-repeat center center;
}
#edit-hub li.entry li.subentry ul.buttons li.button.config a {
  background: url('../img/config.png') no-repeat center center;
}
#edit-hub li.entry li.subentry ul.buttons li.button.logout a {
  background: url('../img/logout.png') no-repeat center center;
}
